f-toggle {
    /* The switch - the box around the slider */
    .switch {
        position: relative;
        display: inline-flex;
        width: 60px;
        height: 34px;

        input[type="checkbox"] {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked + .slider {
                background-color: var(--accent-navy-blue);

                &:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }
            }

            &:focus + .slider {
                box-shadow: 0 0 1px var(--accent-navy-blue);
            }
        }
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--neutral-mountain-mist);
        border-radius: 34px;

        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: var(--neutral-white);
            border-radius: 50%;
        }
    }
}